@if(step==1){
    <section class="rounded-4 shadow  my-3 mx-auto">
        <div class="row">
            <div class="col-lg-4 d-none  d-lg-flex align-items-center justify-content-center flex-column  bg-dark text-white ">
                <h1 class="fw-bolder">{{"forget.WE WILL SEND YOU A CODE TO THIS EMAIL"|translate}}</h1>
            </div>
    <div class="col-lg-8 col-12">
        <h1 class="h2 my-2 text-center pt-2">{{"forget.Forget Password"|translate}}</h1>
        <form [formGroup]="ForgetByEmailGroup" class="p-3" (ngSubmit)="SubmitForEmail()">
            
                <div class="my-2">
                    <label for="name">{{"forget.email:"|translate}}</label>
                    <input [ngClass]="{
                        'is-valid': !ForgetByEmailGroup.get('email')?.errors&&ForgetByEmailGroup.get('email')?.touched,
                        'is-invalid':ForgetByEmailGroup.get('email')?.errors&&ForgetByEmailGroup.get('email')?.touched
                    }"
                    
                    formControlName="email" type="email"id="email" class="form-control p-2">
                    @if(ForgetByEmailGroup.get('email')?.errors&&ForgetByEmailGroup.get('email')?.touched){
                    <div class="alert alert-danger">
                        @if(ForgetByEmailGroup.get("email")?.getError("required")){
                        <p class="p-0 m-0">{{"forget.Email is required"|translate}}</p>
                        }@else if (ForgetByEmailGroup.get("email")?.getError("email")) {
                        <p class="p-0 m-0">{{"forget.Enter Valid Email"|translate}}</p>
                        }
                        
                       
                    </div> 
                }
                </div>
                
                <div class="my-2">
                    <button class="btn-main"  type="submit">{{"forget.Send Email"|translate}}
                         @if(isLoading1){
                        <span><i class="fas fa-spin fa-spinner"></i></span>
                        }
                    </button>
                </div>
            
        </form>
    </div>
        </div>
    </section>
}
@if(step==2){
    <section class="rounded-4 shadow  my-3 mx-auto">
        <div class="row">
            <div class="col-lg-4 d-none  d-lg-flex align-items-center justify-content-center flex-column  bg-dark text-white ">
                <h1 class="fw-bolder">{{"forget.VERIFY CODE"|translate}}</h1>
            </div>
    <div class="col-lg-8 col-12">
        <h1 class="h2 my-2 text-center pt-2">{{"forget.Forget Password"|translate}}</h1>
        <form [formGroup]="ForgetByCodeGroup" class="p-3" (ngSubmit)="SubmitForCode()">
            
                <div class="my-2">
                    <label for="name">{{"forget.Code:"|translate}}</label>
                    <input [ngClass]="{
                        'is-valid': !ForgetByCodeGroup.get('resetCode')?.errors&&ForgetByCodeGroup.get('resetCode')?.touched,
                        'is-invalid':ForgetByCodeGroup.get('resetCode')?.errors&&ForgetByCodeGroup.get('resetCode')?.touched
                    }"
                    
                    formControlName="resetCode" type="text"id="resetCode" class="form-control p-2">
                    @if(ForgetByCodeGroup.get('resetCode')?.errors&&ForgetByCodeGroup.get('resetCode')?.touched){
                    <div class="alert alert-danger">
                        @if(ForgetByCodeGroup.get("resetCode")?.getError("required")){
                        <p class="p-0 m-0">{{"forget.resetCode is required"|translate}}</p>
                        }@else if (ForgetByCodeGroup.get("resetCode")?.getError("pattern")) {
                        <p class="p-0 m-0">{{"forget.Enter Valid resetCode"|translate}}</p>
                        }
                        
                       
                    </div> 
                }
                </div>
                
                <div class="my-2">
                    <button class="btn-main"  type="submit">{{"forget.Verify"|translate}}
                         @if(isLoading2){
                        <span><i class="fas fa-spin fa-spinner"></i></span>
                        }
                    </button>
                </div>
            
        </form>
    </div>
        </div>
    </section>
}
@if(step==3){
    <section class="rounded-4 shadow  my-3 mx-auto">
        <div class="row">
            <div class="col-lg-4 d-none  d-lg-flex align-items-center justify-content-center flex-column  bg-dark text-white ">
                <h1 class="fw-bolder">{{"forget.ENTER NEW PASSWORD"|translate}}</h1>
            </div>
    <div class="col-lg-8 col-12">
        <h1 class="h2 my-2 text-center pt-2">{{"forget.Forget Password"|translate}}</h1>
        <form [formGroup]="ResetPasswordEmailGroup" class="p-3" (ngSubmit)="SubmitForResetPassword()">
            
                <div class="my-2">
                    <label for="name">{{"forget.Email:"|translate}}</label>
                    <input [ngClass]="{
                        'is-valid': !ResetPasswordEmailGroup.get('email')?.errors&&ResetPasswordEmailGroup.get('email')?.touched,
                        'is-invalid':ResetPasswordEmailGroup.get('email')?.errors&&ResetPasswordEmailGroup.get('email')?.touched
                    }"
                    
                    formControlName="email" readonly type="text"id="email" class="form-control p-2">
                    @if(ResetPasswordEmailGroup.get('email')?.errors&&ResetPasswordEmailGroup.get('email')?.touched){
                    <div class="alert alert-danger">
                        @if(ResetPasswordEmailGroup.get("email")?.getError("required")){
                        <p class="p-0 m-0">{{"forget.Email is required"|translate}}</p>
                        }@else if (ResetPasswordEmailGroup.get("email")?.getError("email")) {
                        <p class="p-0 m-0">{{"forget.Enter Valid Email"}}</p>
                        }
                        
                       
                    </div> 
                }
                </div>
                <div class="my-2">
                    <label for="Password">{{"forget.Password:"|translate}}</label>
                    <div class="d-flex align-items-center justify-content-end">
                    <input  [ngClass]="{
                       'is-valid': !ResetPasswordEmailGroup.get('newPassword')?.errors&&ResetPasswordEmailGroup.get('newPassword')?.touched,
                       'is-invalid':ResetPasswordEmailGroup.get('newPassword')?.errors&&ResetPasswordEmailGroup.get('newPassword')?.touched
                   }"
                    
                    formControlName="newPassword" [type]="ShowPassword?'text':'password'"id="Password" class="form-control p-2 position-relative">
                    <i (click)="ShowPassword=!ShowPassword" class="far fa-eye eye-show position-absolute pe-5 fs-5 cursor-pointer"></i>
                   </div>
                    @if(ResetPasswordEmailGroup.get('newPassword')?.errors&&ResetPasswordEmailGroup.get('newPassword')?.touched){
                    <div class="alert alert-danger">
                       @if(ResetPasswordEmailGroup.get("newPassword")?.getError("required")){
                       <p class="p-0 m-0">{{"forget.password is required"|translate}}</p>
                       }@else if (ResetPasswordEmailGroup.get("newPassword")?.getError("pattern")) {
                       <p class="p-0 m-0">{{"forget.password must start with upperCase then from 6 to more any chars"|translate}}</p>
                       }  
                   </div> 
               }
               </div>
                
                <div class="my-2">
                    <button class="btn-main" type="submit">
                        {{"forget.Submit"|translate}}
                         @if(isLoading3){
                        <span><i class="fas fa-spin fa-spinner"></i></span>
                        }
                    </button>
                </div>
            
        </form>
    </div>
        </div>
    </section>
}